.addService {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: 12rem;

  transition: all 0.2s;
  cursor: pointer;

  button{
    all: inherit;
    cursor: pointer;
  }

  .boxImageService {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editDiv {
    position: absolute;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }

  .imageService {
    height: 90%;
    width: 90%;
    border-radius: 2rem;
    object-fit: cover;
  }

  span {
    color: var(--other-red);
    margin-top: 0.5rem;
    font-weight: 700;
  }
}

.serviceAvatar{
  border-radius: 2rem;
  width: 100%;
  height: 160px;
  object-fit: cover;

}
